.about-us-section {
  padding-top: 64px;
  padding-left: 0px;
  padding-right: 0px;
  padding-bottom: 64px;
  position: relative;
}

.about-us-section h2 {
  font-family: 'Open Sans', sans-serif;
  font-weight: 700;
  font-size: 24px;
  line-height: 1.2;
  color: #02060a;
  text-align: center;
  margin-bottom: 24px;
}


.about-us-swiper {
  width: 100%;
  margin: 0 auto;
  overflow: hidden;
}

.about-us-swiper-wrapper {
  display: flex;
  width: 100%;
  height: 100%;
  position: relative;
  z-index: 1;
  transition-property: transform;
  box-sizing: content-box;
}

.about-us-swiper-slide {
  position: relative;
  flex-shrink: 0;
  width: 100%;
  height: auto;
  transition-property: transform;
}

.slide-wrapper {
  position: relative;
}

.slide-wrapper picture img {
  width: 100%;
  height: auto;
  object-fit: cover;
  border-radius: 8px;
}

.about-us-swiper-button-prev.swiper-button-disabled,
.about-us-swiper-button-next.swiper-button-disabled {
  opacity: 0.5;
  cursor: not-allowed;
  pointer-events: none;
}

.slide-text {
  position: absolute;
  bottom: 0;
  left: 0;
  padding-bottom: 20px;
  padding-left: 20px;
  padding-right: 20px;
  font-family: "IBM Plex Sans", sans-serif;
  background: transparent;
  color: #f6f4f1;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.50;
}


.about-us-swiper-controls {
  margin-top: 32px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
}
.about-us-swiper-pagination {
  display: flex;
}

 /* .about-us-swiper-pagination .swiper-pagination-bullet {
  border-radius: 100%;
  background-color: #02060a !important;
  opacity: 0.6;
}  */

 .about-us-swiper-pagination .swiper-pagination-bullet-active {
  background-color: #02060a !important;
  opacity: 1;
}

/* .about-us-swiper-pagination .swiper-pagination-bullet:hover {
  background: #333;
  transform: scale(1.2);
}  */

.about-us-swiper-navigation {
  display: flex;
  gap: 8px;
  margin-left: auto;
}

.about-us-swiper-button-prev,
.about-us-swiper-button-next {
  position: static !important;   
  /* background-color: #eee9e3;  */
  box-shadow: none;
  cursor: pointer;
  transition: all 0.3s ease;
  padding: 12px;
  width: 48px;
  height: 48px;
  /* border: 1px solid #c3b49d; */
  border-radius: 8px;
}


.about-us-swiper-button-prev::after,
.about-us-swiper-button-next::after {
  display: none !important;
}


.about-us-swiper-button-prev svg,
.about-us-swiper-button-next svg {
  width: 20px;
  height: 20px;
  fill: #02060a !important; 
  color: #02060a !important; 
  transition: fill 0.3s ease, color 0.3s ease;
}


@media (min-width: 768px) {
  .about-us-section {
    padding-left: 0px;
    padding-top: 64px;
    padding-right: 0px;
    padding-bottom: 64px;
  }

  .about-us-section h2 {
    font-size: 36px;
    font-weight: 700;
    margin-bottom: 40px;
  }

  .about-us-section .slide-text {
    font-size: 16px;
  }

    .about-us-swiper {
      overflow: hidden;
    }

    .about-us-swiper-navigation {
      position: absolute;
      top: 50%;
      left: 0;
      right: 0;
      justify-content: space-between;
      padding: 0 12px;
      pointer-events: none;
      width: 768px;
      margin: auto;
    }

    .about-us-swiper-button-prev,
    .about-us-swiper-button-next {
      position: relative !important;
      top: auto;
      z-index: 2;
      pointer-events: auto;
    }

    .about-us-swiper-controls {
      margin-top: 24px;
    }
  
      .about-us-swiper-navigation {
        margin-left: auto; 
      }
      .about-us-swiper-pagination {
        width: auto; 
        margin: 0;
        display: block;
        text-align: center;
      }
    
  }


@media (min-width: 1440px) {
  .about-us-section {
    padding: 80px 0px;
  }

  .about-us-section h2 {
    font-size: 48px;
    margin-bottom: 40px;
  }

  .about-us-section .slide-text {
    font-size: 18px;
    max-width: 548px;
    padding-bottom: 64px;
    padding-left: 64px;
  }

    .about-us-swiper-navigation {
      position: absolute;
      top: 50%;
      left: 0;
      right: 0;
      justify-content: space-between;
      padding: 0 12px;
      pointer-events: none;
      width: 1380px;
      margin: auto;
    }

  .about-us-swiper-controls {
    margin-top: 48px;
  }

}

