.pets-list-section {
    padding-top: 64px;
    padding-bottom: 32px;
}

.pets-list-section .container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.section-pets-title {
    font-family: var(--second-family);
    font-size: 36px;
    line-height: 1.2;
    letter-spacing: -0.01em;
}

.section-pets-p {
    font-size: 16px;
    margin: 16px 0;
}

.pets-category-list {
    margin-top: 32px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    max-width: 320px;
}

.pet-category-button {
    border-radius: 100px;
    padding: 10px 16px;
    font-size: 14px;
    border: none;
    background-color: var(--scheme1-background);
}

.pets-list {
    margin-top: 32px;
    margin-bottom: 40px;
    display: flex;
    flex-direction: column;
    gap: 32px;
}

.pet-list-item {
    border-radius: 16px;
    padding: 12px;
    background-color: var(--scheme1-foreground);
    display: flex;
    flex-direction: column;
}

.pet-image {
    border-radius: 8px;
    width: 100%;
    height: 245px;
    object-fit: cover;
}

.info-container {
    margin-top: 16px;
    display: flex;
    flex-direction: column;
    height: 100%;
}


.pet-info.species {
    font-size: 10px;
}

.pet-info.name {
    margin-top: 4px;
    font-family: var(--second-family);
    font-weight: 700;
    font-size: 20px;
    line-height: 140%;
    letter-spacing: -0.01em;
}

.pet-info.category {
    margin-top: 4px;
    display: flex;
    flex-wrap: wrap;
    gap: 4px;
    align-items: flex-start;
}

.pet-info.category .category {
    border: 1px solid var(--transparent);
    border-radius: 100px;
    padding: 4px 10px;
    background: var(--neutral-darkest-5);
    padding-top: 4px;
    font-weight: 600;
    font-size: 10px;
    color: var(--neutral-darkest);
}

.pet-info.age-gender {
    font-size: 10px;
    margin-top: 4px;
}

.pet-info.age-gender .age {
    margin-right: 16px;
}

.pet-info.behavior {
    margin: 16px 0;
}

.pets-list-section .button-container {
    border: 1px solid var(--neutral-darkest);
    border-radius: 8px;
    padding: 8px 20px;
    text-align: center;
    cursor: pointer;
    margin-top: auto;
    font-size: 14px;
    color: var(--neutral-darkest);
    width: 100%;
    background: var(--scheme1-foreground);
    margin-top: auto;
}

.more-pets-button {
    font-size: 14px;
    color: var(--scheme2-text);
    border: 1px solid var(--scheme2-foreground);
    background: var(--scheme2-foreground);
    border-radius: 8px;
    padding: 12px 24px;
    width: 100%;
    max-width: 335px;
    height: 45px;
}

.is-deactive {
    font-weight: 500;
    pointer-events: none;
    cursor: default;
    border: 1px solid var(--transparent);
    background: var(--scheme1-foreground);
}

.pets-list-navigation {
    display: none;
}

.is-deactive-nav {
    opacity: 0.4;
    pointer-events: none;
    cursor: default;
}

.is-active-nav {
    background-color: var(--scheme1-foreground);
}

@media screen and (min-width: 768px) {

    .pets-category-list {
        min-width: 579px;
    }

    .pets-list {
        flex-direction: row;
        flex-wrap: wrap;
    }

    .pet-list-item {
        box-sizing: border-box;
        width: calc((100% - 32px) / 2);
    }

    .pets-list-section .button-container {
        font-size: 16px;
    }

    .pets-list-navigation {
        display: flex;
        gap: 4px;
        align-items: center;
    }
    
    .pets-nav-btn {
        border-radius: 8px;
        padding: 12px;
        width: 48px;
        height: 48px;
    }
    
    .pets-nav-button {
        border: 1px solid var(--neutral-light);
        border-radius: 8px;
        padding: 12px 24px;
        width: 57px;
        height: 45px;
        background-color: var(--scheme1-background);
        font-size: 14px;
    }
    
    .pets-nav-dots {
        font-weight: 500;
        font-size: 18px;
    }

    .pets-nav-button.is-active {
        background-color: var(--scheme1-foreground);
        border-color: var(--neutral-darkest);
        font-weight: 600;
    }
}



@media screen and (min-width: 1440px) {
    .pets-list-section {
        padding-top: 80px;
    }

    .section-pets-title {
        font-size: 48px;
    }

    .section-pets-p {
        font-size: 18px;
    }

    .pets-category-list {
        min-width: 1280px;
        margin-top: 40px;
    }

    .pet-category-button {
        font-size: 16px;
    }

    .pets-list {
        flex-direction: row;
        flex-wrap: wrap;
        width: 1312px;
        margin-top: 40px;
    }

    .pet-list-item {
        box-sizing: border-box;
        width: calc((100% - 64px) / 3);
    }

    .pet-info.species {
        font-size: 12px;
    }

    .pet-info.name {
        font-size: 24px;
    }

    .pet-info.age-gender {
        font-size: 12px;
    }

    .pet-info.behavior {
        font-size: 14px;
    }

    .more-pets-button {
        font-size: 16px;
    }

    .pet-info.category {
        height: 68px;
        margin-top: 4px;
    }

    .pet-info.category .category {
        font-size: 12px;
    }

    .pets-list-section .button-container {
        font-size: 16px;
    }

    .pets-list-section .pets-nav-button {
        font-size: 16px;
    }
}
